#Config file for cubeRoot.exe
#Use # to comment

#switchs
UseReferDist = 1
UseLBP = 1
UseGabor = 1
UseIntensity = 1
UseHOG = 0
UseCA = 0
UseWeight = 0
FlipMatch = 0
HistEqu = 1				#Histogram Equalization
UniformLBP = 1
ChiDist = 1
OverWriteBin = 1		#overwrite binary file


#limits
maxFaceTags = 300		#maximum faces
maxNumImages = 1500		#maximum input images
trainStartID = 1		#start from this ID
trainEndID = 60			#end with this ID

#face
faceWidth = 80
faceHeight = 80
leftEyeX = 24
leftEyeY = 25
rightEyeY = 25
rightEyeX = 56
faceChannel = 3

#reference distance feature
featLenReferDist = 200


#LBP
numHistsLBP = 20
LBPStepW = 10
LBPStepH = 10
LBPWindowW = 10
LBPWindowH = 10
LBPNeighBorThreshold = 0

#Gabor
numBinsGabor = 16
numHistsGabor = 320
gaborStepW = 10
gaborStepH = 10
gaborWindowW = 10
gaborWindowH = 10
gaborNeighBorThreshold = 0

#Intensity
numBinsIntensity = 16;
numHistsIntensity = 20;
IntensityStepW = 20;
IntensityStepH = 20;
IntensityWindowW = 20;
IntensityWindowH = 20;

#feature length
featLenTotal = 1180	#overall feature length
featLenLBP = 1180		#LBP feature length
featLenGabor = 0
featLenIntensity = 0
featLenHOG = 0
featLenCA = 0
